body {
	font-family: Arial !important;
	font-size: 14px;
	background-color: #BEBEBE;
}

button, select {
	font-family: inherit;
	font-size: inherit;
}

.label {
	background: #FFFFFF;
	margin-left: 0px; 
	margin-top: 0px;
	border: 0px;
}

.card {
	background: #FFFFFF;
	margin-left: 0px; 
	margin-top: 0px; 
	border: 0px;
}

.nostyle {
	margin-left: 0px;
	margin-top: 0px;
	border: 0px;
}

.tableDialog {
	margin-top: -15px;
	margin-left: -15px;
	border-spacing: 10px 10px;
	border-collapse: separate;
}